<p id="notice"><%= notice %></p>

<p>
  <b>Dum1:</b>
  <%= @dummy.dum1 %>
</p>

<p>
  <b>Dum2:</b>
  <%= @dummy.dum2 %>
</p>


<%= link_to 'Edit', edit_dummy_path(@dummy) %> |
<%= link_to 'Back', dummies_path %>
